<ion-view>
  <ion-content class="padding center account">
    <div class="row">
      <img class="center" src="./img/deaddropsm.png"/>
    </div>
    <form ng-submit="login()" name='signInForm'>
      <div class="list">
        <label class="item item-input item-floating-label" id="firstFormInputField">
          <span>Email</span>
          <input name="email" type="email" placeholder="email" ng-model="user.email" required>
        </label>
        <label class="item item-input item-floating-label">
          <span>Password</span>
          <input name="password" type="password" placeholder="password" ng-model="user.password" required>
        </label>
        <button type="submit" class="button button-block">Login</button>
      </div>
    </form>
    <div>
      <div class="row row-center">
        <div class="col" id='signUpLinkSection' style="text-align:center">Need an account?  <a ng-href="#/register" class='signUpLink'>Tap here!</a></div>
      </div>
      <div class="row row-center">
        <div class="col" id='signUpLinkSection' style="text-align:center">Login as a guest?  <a ng-href="#" ng-click="loginAsGuest()" class='signUpLink'>Tap here!</a></div>
      </div>
    </div>
  </ion-content>
</ion-view>
